@media (max-width : 990px) {
    .page-1 h1{
    font-size: 4rem;
    font-weight: 900;
    position: relative;
}
.page-1 h1:before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -3px;
    left: -3px;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;
}
.page-1 h3{
    font-size: 1.2rem;
    font-weight: 800;
    margin: 20px 0;
}
.page-1 p{
    font-size: 0.90rem;
    font-weight: 500;
    width: 70%;
    letter-spacing: 1px;
    font-family: medium;
}
a.links{
    color: #fff;
    font-size: 0.90rem;
    text-transform: uppercase;
}
#scroller h4{
    font-size: 4rem;
}
.about-us .about-us-in{
    text-align: center;
    width: 100%;
}
.about-us .about-us-in h3{
    font-size: 2rem;
    margin-bottom: 40px;
}
.about-us .about-us-in p{
    font-size: 14px;
    font-family: medium;
    line-height: 20px;
    letter-spacing: 1px;
}
.about-us  img{
    width: 200px;
    height: 200px;
}
.page-3 h4{
     font-size: 1.5rem;
     padding: 0 10px;
     font-weight: 600;
     width: 70%;
     line-height: 25px;
}
.page-3 .img-2{
    position: absolute;
    bottom: 20%;
    right: 0%;
}
.page-3 img{
    width: 70%;
}
.page-3{
    width: 100%;
    height: 90vh;
}
.page-1 .arrow{
    width: 150px;
    height: 150px;
}
.page-1 .arrow i{
    font-size: 23px;
}
.elem h2{
    font-size: 1.5rem;
}
.page-4 h1{
    top: 18%;
    font-size: 3rem;
}
}

@media (max-width : 750px){
.about-us{
    width: 100%;
    height: 100vh;
    padding: 0 70px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.about-us  img{
    width: 250px;
    height: 250px;
   margin:  0 auto;
}
.about-us .about-us-in h3{
    font-size: 2rem;
    font-weight: 900;
    margin:10px 0 20px;
}
.card-container .card{
    width: 40%;
    height: 50%;
}
.green{
    width: 100%;
    height: 20vh;
}
.green h4{
    font-size: 1.3rem;
    line-height: 30px;
    width: 80%;
}
.page-3 h4{
     font-size: 1rem;
     font-weight: 600;
     width: 80%;
     line-height: 25px;
}
.page-1 .arrow{
    width: 130px;
    height: 130px;
}
.page-1 .arrow i{
    font-size: 21px;
}
.elem h2{
    font-size: 1.2rem;
}
.page-4 h1{
    top: 22%;
    font-size: 2rem;
}
}

@media (max-width : 640px){
      .page-1{
    width: 100%;
    height: 90vh;
}
       .page-1 h1{
    font-size: 3rem;
}
.page-1 h3{
    font-size: 1rem;
    font-weight: 800;
    margin: 15px 0;
}
.page-1 p{
    font-size: 0.80rem;
    font-weight: 500;
    width: 90%;
    letter-spacing: 0.60px;
    font-family: medium;
}
a.links{
    color: #fff;
    font-size: 0.80rem;
    text-transform: uppercase;
}
#scroller h4{
    font-size: 3rem;
}
.about-us{
    padding: 0 10px;
}
.card-container .card{
    width: 50%;
    height: 60%;
}
.page-3 h4{
     font-size: 0.90rem;
     padding: 0 10px;
     font-weight: 600;
     width: 100%;
     line-height: 25px;
}
.page-3 .img-2{
    position: absolute;
    bottom: 20%;
    right: 0%;
}
.page-3 img{
    width: 50%;
}
.page-3{
    width: 100%;
    height: 80vh;
}
.page-1 .arrow{
    width: 120px;
    height: 120px;
}
.page-1 .arrow i{
    font-size: 20px;
}
.elem h2{
    font-size: 1rem;
}
.page-4 h1{
    top: 30%;
    font-size: 1.5rem;
}
.elem{
    width: 30%;
    height: 30%;
}
}

@media (max-width : 480px){
    .page-1{
    width: 100%;
    height: 90vh;
}
       .page-1 h1{
    font-size: 2rem;
}
.page-1 h1:before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -2px;
    left: -2px;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;
}
.page-1 h3{
    font-size: 0.80rem;
    font-weight: 800;
    margin: 15px 0;
}
.page-1 p{
    font-size: 0.60rem;
    font-weight: 500;
    width: 90%;
    letter-spacing: 0.60px;
    font-family: medium;
}
a.links{
    color: #fff;
    font-size: 0.70rem;
    text-transform: uppercase;
}
#scroller h4{
    font-size: 2rem;
    margin: 0;
}
.about-us{
    padding: 0 10px;
}
.about-us  img{
    width: 200px;
    height: 200px;
   margin:  0 auto;
}
.about-us .about-us-in h3{
    font-size: 1rem;
    font-weight: 700;
    margin:10px 0 10px;
}
.about-us .about-us-in p{
    font-family: medium;
    line-height: 20px;
    width: 100%;
}
.card-container .card{
    width: 70%;
    height: 60%;
}
.overlay h4{
    font-size: 1rem;
}
.overlay p{
    font-size: 15px;
}
.green{
    width: 100%;
    height: 15vh;
}
.green h4{
    font-size: 1rem;
    line-height: 20px;
    width: 90%;
}
.page-3{
    width: 100%;
    height: 70vh;
}
.page-1 .arrow{
    width: 120px;
    height: 120px;
}
.page-1 .arrow i{
    font-size: 18px;
}
.elem h2{
    font-size: 0.8rem;
}
.page-4 h1{
    top: 38%;
    font-size: 1rem;
}
.elem{
    width: 33%;
    height: 18%;
}
}