@font-face {
    font-family: 'Montserrat';
    src: url(../Assests/Montserrat/Montserrat-Medium.ttf);
    font-family: 'medium';
    src: url(../Assests/Montserrat/Montserrat-ExtraLight.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #fff;
}
*::selection{
    background-color: white;
    color: #95c11e;
}
body::-webkit-scrollbar{
    width: 5px;
    background-color: #95c11e;
}
body::-webkit-scrollbar-thumb{
    background-color: white;
}
body,html{
    overflow-x: hidden;
}
p{
    font-family: medium;
}
.navigation{
    position: fixed;
    z-index: 99;
    height: 10vh;
}
a.links{
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
}
a.links:hover{
    color: #fff;
}
.my{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
.cursor{
    width: 20px;
    height: 20px;
    background-color: #F8CA29;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
.cursor-blur{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #96c11e4b;
    position:fixed;
    z-index: 9;
    filter: blur(50px);
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}
.page-1{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
     z-index: 10;
}
.page-1 h1:before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 2px #95c11e;
    z-index: -1;
}
.page-1 h1{
    font-size: 6rem;
    font-weight: 900;
    position: relative;
}
.page-1 h3{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 20px 0;
}
.page-1 .arrow{
    width: 180px;
    height: 180px;
    background-color: transparent;
    border: 2px solid #95c11e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:-2%;
    bottom: 0;
    transition: all ease 0.5s;
}
.page-1 .arrow i{
    font-size: 25px;
}
.page-1 .arrow:hover{
    background-color: #95c11e;
    scale: 0.5;
}
.page-1 p{
    font-size: 1rem;
    font-weight: 500;
    width: 40%;
    letter-spacing: 1px;
    font-family: medium;
}
.page-2{
    width: 100%;
    height: auto;
    z-index: 10;
}
.page-2 #scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller h4{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    font-weight: 900;
    margin-right: 40px;
    -webkit-text-stroke: 2px #95c11e;
    color: transparent;
    transition: all linear 0.5s;
}
#scroller h4:hover{
    color: #95c11e;
}
#scroller .scroller-in{
    display: inline-block;
    white-space: nowrap;
     animation-name: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.about-us{
    width: 100%;
    height: 60vh;
    padding: 0 70px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-us .about-us-in{
    text-align: center;
    width: 50%;
}
.about-us .about-us-in h3{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 50px;
}
.about-us .about-us-in p{
    font-family: medium;
    line-height: 25px;
    letter-spacing: 1px;
}

.about-us  img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
.card-container{
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 30px;
    position: relative;
    z-index: 10;
     padding: 10% 0;
}
.card-container .card{
    width: 24%;
    height: 80%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border: none;
     transition: all ease 0.5s;
}
#card-1{
    background-image: url(../Assests/card1.avif);
}
#card-2{
    background-image: url(../Assests/card2.webp);
}
#card-3{
    background-image: url(../Assests/card3.avif);
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: #95c11e;
    padding: 0 40px;
    opacity: 0;
    transition: all ease 0.5s;
}
.overlay h4{
    color: black;
    padding-top: 110px;
    font-weight: 900;
    white-space: nowrap;
}
.overlay p{
    color: black;
}
.overlay i{
    font-size: 25px;
    position: absolute;
    right: -16px;
    top: 10px;
    border: 2px solid wheat;
    padding: 30px;
    border-radius: 50%;
}
.card .overlay:hover{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
.green{
    width: 100%;
    height: 30vh;
    background: linear-gradient(to left bottom,#00f351b9,#95c11e);
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;  
    position: relative;
    z-index: 10;
}
.green h4{
    color: black;
    font-weight: 900;
    width: 50%;
    line-height: 40px;
}
.page-3{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.page-3 img{
    width: 70%;
}
.page-3 h4{
     font-size: 1.5rem;
     font-weight: 700;
     padding: 0 70px;
     width: 50%;
     line-height: 40px;
}
.page-3 .img-1{
    position: absolute;
    top: 10%;
    left: 10%;
}
.page-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page-3 .img-2{
    position: absolute;
    bottom: 17%;
    right: 17%;
}
.page-4{
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
}
.page-4 h1{
    position: absolute;
    top: 12%;
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.674);
}
.elem{
    width: 25%;
    height: 40%;
    background-color: #95c11e;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.2;
    transition: all ease 0.7s;
}
.elem h2{
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    color: black;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all ease 0.5s;
    z-index: 10;
    top: 0;
    left: 0;
}
.elem h2:hover{
    background-color: transparent;
    color: white;
}
.elem:hover img{
    scale: 1;
}
footer{
    width: 100%;
    height: 30vh;
    background: linear-gradient(to left bottom, #95c11e, #F8CA29);
    padding:5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-in h5{
    color: black;
    margin-top: 10px;
}
.footer-in p{
    font-weight: 900;
}
@keyframes scroll{
    form{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
